<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Note guesser</h1>
    <p>You will hear a sound. Say what note you think the sound is.
        Guessing the note correctly means you win. You can always
        have more tries if you are incorrect.</p>

    <form action="/new" method="post">
        <button type="submit">Start</button>
    </form>
</body>
</html>